<?xml version="1.0" encoding="utf-8"?>
<OPC.UA.Server>
  <variableGroup name="Pasteurization" description="巴氏杀菌">
    <variable name="Switch" description="开关" />
  </variableGroup>
  <variableGroup name="Recipe" description="配料">
    <variable name="MixerTemperature" description="混料温度" />
    <variable name="MixerRev" description="混料机转速" />
  </variableGroup>
</OPC.UA.Server>